# Configuration CORS
ALLOWED_ORIGINS=["http://localhost:5173", "http://127.0.0.1:5173"]

# Configuration des fichiers
MAX_FILE_SIZE=10000000000
UPLOAD_DIR=uploads
CV_UPLOAD_DIR=uploads/cv
DATA_UPLOAD_DIR=uploads/data

# Configuration Azure Storage (optionnel)
AZURE_STORAGE_CONNECTION_STRING=
AZURE_CONTAINER_NAME=cv-uploads

# Backend de stockage ("local" ou "azure")
STORAGE_BACKEND=local 